-r requirements.txt # include prod requirements in dev
# autoflake
black
ipython
# locust # load testing
# mkdocs # static site generator
mypy
pre-commit
# pylint
# python-json-logger
radon
ruff # https://github.com/charliermarsh/ruff
pytest
pytest-cov